Repository BorryJJong/KnockKnock-API, pull requests merged in 2022-08, with the labels that each got.

#76 fix: 파일명 변경
  src/api/feed/dto/feed.dto.ts
Labels: bugFix

#69 Feature/피드댓글등록
  src/api/feed/dto/feed.dto.ts
  src/api/feed/feed.controller.ts
  src/api/feed/feed.module.ts
  src/api/feed/feed.service.ts
  src/api/feed/repository/blogComment.repository.ts
  src/entities/BlogComment.ts
Labels: feature, 피드 개발

#80 Feature/피드에 중첩된 api 엔드포인트 수정
  .gitignore
  src/api/feed/dto/feed.dto.ts
  src/api/feed/feed.controller.ts
  src/api/feed/feed.service.ts
Labels: bugFix, 피드 개발

#81 Feature/피드 게시글 목록 api 수정
  src/api/feed/dto/feed.dto.ts
  src/api/feed/feed.controller.ts
  src/api/feed/feed.service.ts
  src/api/feed/interface/blogImage.interface.ts
  src/shared/utils/index.ts
Labels: feature, 피드 개발

#84 Dist:develop
  dist/src/api/feed/dto/feed.dto.d.ts
  dist/src/api/feed/dto/feed.dto.js
  dist/src/api/feed/dto/feed.dto.js.map
  dist/src/api/feed/feed.controller.d.ts
  dist/src/api/feed/feed.controller.js
  dist/src/api/feed/feed.controller.js.map
  dist/src/api/feed/feed.module.js
  dist/src/api/feed/feed.module.js.map
  dist/src/api/feed/feed.service.d.ts
  dist/src/api/feed/feed.service.js
  dist/src/api/feed/feed.service.js.map
  dist/src/api/feed/interface/blogImage.interface.d.ts
  dist/src/api/feed/interface/blogPost.interface.d.ts
  dist/src/api/feed/repository/blogPost.repository.d.ts
  dist/src/api/feed/repository/blogPost.repository.js
  dist/src/api/feed/repository/blogPost.repository.js.map
  dist/src/entities/BlogComment.js
  dist/src/entities/BlogComment.js.map
  dist/src/shared/dto/Pagenation.dto.d.ts
  dist/src/shared/dto/Pagenation.dto.js
  dist/src/shared/dto/Pagenation.dto.js.map
  dist/src/shared/utils/index.d.ts
  dist/src/shared/utils/index.js
  dist/src/shared/utils/index.js.map
  dist/tsconfig.build.tsbuildinfo
Labels: dist

#85 Fix: gitignore
  .gitignore
  dist/src/api/feed/repository/blogComment.repository.d.ts
  dist/src/api/feed/repository/blogComment.repository.js
  dist/src/api/feed/repository/blogComment.repository.js.map
Labels: dist

#86 Dist/develop
  dist/src/shared/utils/index.js.map
  dist/tsconfig.build.tsbuildinfo
  src/shared/utils/index.ts
Labels: dist

#87 Dist/develop
  dist/src/api/feed/dto/feed.dto.d.ts
  dist/src/api/feed/dto/feed.dto.js.map
  dist/src/shared/response_entities/feed/temp.response.js.map
  dist/tsconfig.build.tsbuildinfo
  src/api/feed/dto/feed.dto.ts
  src/shared/response_entities/feed/temp.response.ts
Labels: dist
