Repository BorryJJong/KnockKnock-API, pull requests merged in 2022-10, with the labels that each got.

#96 Feature/피드댓글조회
  src/api/feed/dto/feed.dto.ts
  src/api/feed/feed.controller.ts
  src/api/feed/feed.service.ts
  src/api/feed/repository/blogComment.repository.ts
  src/shared/response_entities/feed/temp.response.ts
Labels: feature, 피드 개발

#93 피드 게시글 API 로직 수정
  src/api/feed/dto/feed.dto.ts
  src/api/feed/feed.service.ts
  src/api/feed/repository/blogChallenges.repository.ts
  src/api/feed/repository/blogPost.repository.ts
Labels: feature, 피드 개발

#97 배포
  dist/api/feed/dto/feed.dto.d.ts
  dist/api/feed/dto/feed.dto.js
  dist/api/feed/dto/feed.dto.js.map
  dist/api/feed/feed.controller.d.ts
  dist/api/feed/feed.controller.js
  dist/api/feed/feed.controller.js.map
  dist/api/feed/feed.service.d.ts
  dist/api/feed/feed.service.js
  dist/api/feed/feed.service.js.map
  dist/api/feed/repository/blogChallenges.repository.js
  dist/api/feed/repository/blogChallenges.repository.js.map
  dist/api/feed/repository/blogComment.repository.d.ts
  dist/api/feed/repository/blogComment.repository.js
  dist/api/feed/repository/blogComment.repository.js.map
  dist/api/feed/repository/blogPost.repository.d.ts
  dist/api/feed/repository/blogPost.repository.js
  dist/api/feed/repository/blogPost.repository.js.map
  dist/shared/response_entities/feed/temp.response.d.ts
  dist/shared/response_entities/feed/temp.response.js
  dist/shared/response_entities/feed/temp.response.js.map
  dist/tsconfig.build.tsbuildinfo
Labels: dist

#101 Feature/카카오 소셜 로그인 api
  package.json
  src/api/users/dto/users.dto.ts
  src/api/users/users.controller.ts
  src/api/users/users.entity.ts
  src/api/users/users.interface.ts
  src/api/users/users.module.ts
  src/api/users/users.repository.ts
  src/api/users/users.service.ts
  src/api/users/users.validator.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/auth.dto.ts
  src/auth/jwt/jwt.guard.ts
  src/auth/jwt/jwt.payload.ts
  src/auth/jwt/jwt.strategy.ts
  src/auth/jwt/jwtAccessToken.strategy.ts
  src/auth/jwt/jwtRefreshToken.strategy.ts
  src/auth/kakao.service.spec.ts
  src/auth/kakao.service.ts
  src/entities/User.ts
  src/shared/enums/enum.ts
  yarn.lock
Labels: 카카오 소셜 로그인 개발

#106 카카오 로그인 및 회원가입 배포
  dist/api/challenges/dto/challenges.dto.d.ts
  dist/api/feed/dto/feed.dto.d.ts
  dist/api/users/dto/users.dto.d.ts
  dist/api/users/dto/users.dto.js
  dist/api/users/dto/users.dto.js.map
  dist/api/users/users.controller.d.ts
  dist/api/users/users.controller.js
  dist/api/users/users.controller.js.map
  dist/api/users/users.entity.d.ts
  dist/api/users/users.entity.js
  dist/api/users/users.entity.js.map
  dist/api/users/users.module.js
  dist/api/users/users.module.js.map
  dist/api/users/users.repository.d.ts
  dist/api/users/users.repository.js
  dist/api/users/users.repository.js.map
  dist/api/users/users.service.d.ts
  dist/api/users/users.service.js
  dist/api/users/users.service.js.map
  dist/auth/auth.module.js
  dist/auth/auth.module.js.map
  dist/auth/auth.service.d.ts
  dist/auth/auth.service.js
  dist/auth/auth.service.js.map
  dist/auth/dto/auth.dto.d.ts
  dist/auth/dto/auth.dto.js
  dist/auth/dto/auth.dto.js.map
  dist/auth/jwt/jwt.guard.d.ts
  dist/auth/jwt/jwt.guard.js
  dist/auth/jwt/jwt.guard.js.map
  dist/auth/jwt/jwt.payload.d.ts
  dist/auth/jwt/jwt.strategy.d.ts
  dist/auth/jwt/jwt.strategy.js
  dist/auth/jwt/jwt.strategy.js.map
  dist/entities/User.d.ts
  dist/entities/User.js
  dist/entities/User.js.map
  dist/shared/enums/enum.d.ts
  dist/shared/enums/enum.js
  dist/shared/enums/enum.js.map
  dist/tsconfig.build.tsbuildinfo
Labels: dist

#107 Dist/develop
  .gitignore
  dist/api/users/users.interface.d.ts
  dist/api/users/users.interface.js
  dist/api/users/users.interface.js.map
  dist/api/users/users.validator.d.ts
  dist/api/users/users.validator.js
  dist/api/users/users.validator.js.map
  dist/auth/jwt/jwtAccessToken.strategy.d.ts
  dist/auth/jwt/jwtAccessToken.strategy.js
  dist/auth/jwt/jwtAccessToken.strategy.js.map
  dist/auth/jwt/jwtRefreshToken.strategy.d.ts
  dist/auth/jwt/jwtRefreshToken.strategy.js
  dist/auth/jwt/jwtRefreshToken.strategy.js.map
  dist/auth/kakao.service.d.ts
  dist/auth/kakao.service.js
  dist/auth/kakao.service.js.map
Labels: dist
